* {
    margin: 0;
    padding: 0;
}

#navigation {
    background-color: #b806f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation>ul {
    display: flex;
    margin: 50px;
}

#navigation>ul>li {
    list-style: none;
    margin: 0px 5px;
    padding: 1px 0px;
}

#navigation>ul>li>a {
    text-decoration: none;
    color: aliceblue;
}